body {
  margin: 0;
  padding: 0;
}
.Home-page{
  background-color: #ffff;
  text-align: center;

}

.blueBlob{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 15%;
}
.yellowBlob{
  position: fixed;
  right: 0;
  top: 0;
  width: 15%;
}
.home-content{
  margin-top: 40vh;
}
.Home-page h1{
  font-family: 'Karla';
font-style: normal;
font-weight: 700;
font-size: 46px;
line-height: 37px;
color: #293264;
margin-bottom: 0;
}
.Home-page p{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 19px;
text-align: center;
color: #293264;
margin-bottom: 2rem;
}
.start-btn{
  background: #4D5B9E;
border-radius: 15px;
color: white;
padding: 15px 25px;
border: none;
font-size: 16px;
cursor: pointer;
}
.questions-container{
  margin: 50px 15vw 0 15vw;
  margin-bottom: 50px;
  
}
.questions-container h1{
  font-family: 'Karla';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 24px;
color: #293264;
margin-bottom: 25px;
}
.options-container{
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 19px;
}
.options{
  border: 0.794239px solid #4D5B9E;
border-radius: 7.94239px;
background: white;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 12px;
text-align: center;
color: #293264;
cursor: pointer;
margin-right: 15px;
padding: 5px 18px;
white-space: nowrap;
}
.questions-container hr{
  margin-top: 20px;
  border: 0.794239px solid #DBDEF0;
  transform: rotate(-0.05deg);
  width: 120%;
}
.check-btn{
  background: #4D5B9E;
border-radius: 10px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 12px;
text-align: center;
padding: 12px 22px;
color: #F5F7FB;
border: none;
cursor: pointer;
display: flex;
margin: auto;
margin-top: 20px;
}
.play-btn{
  background: #4D5B9E;
border-radius: 10px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 12px;
padding: 12px 22px;
color: #F5F7FB;
border: none;
cursor: pointer;
margin-left: 30px;
}
.res-txt{
  font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 15.8px;
line-height: 15px;
color: #293264;
}
.res-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-btn:hover{
  background: #293264;
}

.check-btn:hover{
  background: #293264;
}